body {
  margin: 0;
  font-size: 20px;
  background-color: whitesmoke;
  font-family: "Nunito";
  font-size: 24px;
}

.burger {
  display: block;
  padding: 10px;
}

.close {
  display: none;
}

.nav {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #6ac5fe;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 30px;
  justify-items: center;
  align-items: center;

  .item {
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 20px;

    &:nth-child(2) {
      grid-column: 1/1;
      grid-row: 1/2;
      place-items: center;
      z-index: 1;
    }
  }
}

.round-img {
  border-top-right-radius: 360px;
  border-top-left-radius: 360px;
  border-bottom-left-radius: 360px;
  border-bottom-right-radius: 360px;
  width: 200px;
  height: 200px;
  background-color: #6ac5fe;
}

.main-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  .item-form {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

.btn {
  background-color: #6ac5fe;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px;
  height: 30px;
  width: 90px;
}

.fill-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  font-family: "Times New Roman", Times, serif;
}

.footer {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.img-footer {
  opacity: 1;
  display: block;
  width: 10vh;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#divIg:hover .img-footer {
  opacity: 0.3;
}

#divLinkedIn:hover .img-footer {
  opacity: 0.3;
}

#divMail:hover .img-footer {
  opacity: 0.3;
}

.bg-footer {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    height: 500px;
    padding: 30px;
    font-family: "Nunito";
    justify-items: center;
    align-items: center;

    .item {
      grid-column: 1/2;
      grid-row: 1/3;
      padding: 20px;

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
      }
    }
  }

  .fill-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    font-family: "Times New Roman", Times, serif;
  }

  .toggle {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  .round-img {
    border-top-right-radius: 360px;
    border-top-left-radius: 360px;
    border-bottom-left-radius: 360px;
    border-bottom-right-radius: 360px;
    width: 400px;
    height: 400px;
    background-color: #6ac5fe;
  }
}

#myCheckbox1:checked ~ .nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6ac5fe; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .burger {
  display: none; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #6ac5fe; /* or block, grid, anything you want */
}
