body {
  margin: 0;
  font-size: 20px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.mask1 {
  background-image: url(/icons/yellow-bg.svg);
  mask-image: url(/icons/arri.png);
  mask-repeat: no-repeat;
  z-index: -1;
  /* height: 67%; */
  mask-size: cover;
  -webkit-mask-size: cover;
  object-position: center 20px;
  /* mask-position: -109px -20px; */
  -webkit-mask-image: url(/icons/arri.png);
}

.burger {
  display: block;
  padding: 10px;
}

.close {
  display: none;
}

.nav {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* background-color: #6ac5fe; */
}

.img-right {
  /* display: none; */
  position: absolute;
  top: -100px;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.btn {
  background-color: #6ac5fe;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px;
  height: 30px;
  width: 90px;
}

.btn[id="linkedIn"] {
  background-color: white;
  border: 1px solid black;
}

.btn[id="btnView"] {
  background-color: white;
  border: 1px solid black;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 20px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: 550px;
  text-align: justify;

  .hero-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: center;
    justify-content: flex-start;
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
  }

  &:nth-child(2) {
    z-index: -5;
  }
}

.item-head {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 300px;
  margin-bottom: 50px;

  .item {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 2/3;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 20px;
      background-color: white;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 1/2;
      background-color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  .even {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: white;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      background-color: white;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 20px;
    }
  }
}

.fill-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
  font-family: "Times New Roman", Times, serif;
}

.img {
  display: none;
  align-content: flex-end;
  justify-content: right;
  align-items: center;
}

.box-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box-img-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.towards {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.img-footer {
  opacity: 1;
  display: block;
  width: 10vh;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#divIg:hover .img-footer {
  opacity: 0.3;
}

#divLinkedIn:hover .img-footer {
  opacity: 0.3;
}

#divMail:hover .img-footer {
  opacity: 0.3;
}

.bg-footer {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

.img-right {
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.item-head {
  margin-top: 50px;
}

@media screen and (min-width: 640px) {
  .hero {
    margin-top: 500px;
    flex-direction: row;
    align-content: center;
    text-align: justify;
    overflow: auto;
    .hero-item {
      padding: 20px;
      width: 80%;
      border: 0px;
      order: 1;

      &:nth-child(2) {
        flex-direction: column;
        order: 2;
      }
    }
  }

  .main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 540px;
    margin-bottom: 50px;

    .item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .even {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
      }
    }
  }

  .fill-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    font-family: "Times New Roman", Times, serif;
  }

  .img-right {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  .img-border {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
  }

  .item-head {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 50px;
    justify-content: left;

    .hero-item {
      padding: 20px;
      width: 40%;
      border: 0px;

      &:nth-child(2) {
        flex-direction: column;
      }
    }
  }

  .main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 540px;
    margin-bottom: 50px;

    .item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .even {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
      }
    }
  }

  .fill-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    font-family: "Times New Roman", Times, serif;
  }

  .img-right {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  .item-head {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .toggle {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    z-index: 5;
  }

  .img-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  .main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 250px;
    padding-right: 250px;
    min-height: 540px;
    margin-bottom: 50px;

    .item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
        padding: 20px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
      }
    }

    .even {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        background-color: white;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        padding: 20px;
      }
    }
  }

  .fill-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    font-family: "Times New Roman", Times, serif;
  }

  .heading {
    font-size: 40px;
  }

  .item-head {
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
  }

  .hero {
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
    .hero-item {
      padding: 20px;
      width: 50%;
      border: 0px;
      order: 2;

      &:nth-child(2) {
        flex-direction: column;
        order: 1;
      }
    }
  }
}

.main-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  .item-form {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

#myCheckbox1:checked ~ .nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6ac5fe;
  transition: width 0.5s ease-in-out, background-color 1s linear;
}

#myCheckbox1:checked main > .hero > .hero-item {
  padding: -500px;
}

#myCheckbox1:checked ~ .burger {
  display: none; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #6ac5fe; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .main {
  background: black;
  font-family: "Times New Roman", Times, serif;
}

.img-border {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.odd {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px;
  align-content: center;
}
