body {
  margin: 0;
  font-size: 20px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.mask1 {
  -webkit-mask-image: url(/icons/yellow-bg.svg);
  mask-image: url(/icons/yellow-bg.svg);
  mask-repeat: no-repeat;
  z-index: -1;
  height: 67%;
  mask-size: cover;
  -webkit-mask-size: cover;
  object-position: center 20px;
  mask-position: -109px -20px;
}

.burger {
  display: block;
  padding: 10px;
}

.close {
  display: none;
}

.nav {
  display: none;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #6ac5fe;
}

.img-right {
  /* display: none; */
  position: absolute;
  top: -10px;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.btn {
  background-color: #6ac5fe;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px;
  height: 30px;
  width: 90px;
}

.btn[id="linkedIn"] {
  background-color: white;
  border: 1px solid black;
}

.btn[id="btnView"] {
  background-color: white;
  border: 1px solid black;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 20px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: 700px;
  text-align: justify;

  .main-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: center;
    justify-content: flex-start;
    text-align: justify;
    z-index: 2;
    order: 2;
    width: 80%;
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.item-head {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.box-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
  z-index: 1;
  .item {
    background-color: white;
    align-content: center;

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 10px;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .item-left {
    background-color: white;
    border-radius: 10px;
    padding-right: 10px;
    align-content: center;
  }
}

.box-grid-even {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
  z-index: 1;
  .item-even {
    background-color: white;
    align-content: center;

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 10px;
    }
  }
}

.img {
  display: none;
  align-content: flex-end;
  justify-content: right;
  align-items: center;
}

.box-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box-img-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.towards {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.bg-footer {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .main {
    margin-top: 700px;
    flex-direction: row;
    align-content: center;
    text-align: justify;
    .main-item {
      padding: 20px;
      width: 80%;
      border: 0px;
      order: 2;

      &:nth-child(2) {
        flex-direction: column;
        order: 1;
      }
    }
  }

  .box-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    z-index: 1;
    .item {
      background-color: white;
      align-content: center;

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 10px;
      }

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .item-left {
      background-color: white;
      border-radius: 10px;
      padding-right: 10px;
      align-content: center;
    }
  }

  .item-head {
    margin-top: 50px;
  }

  .box-grid-even {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    z-index: 1;
    .item-even {
      background-color: white;
      align-content: center;

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 150px;
    justify-content: flex-start;
    .main-item {
      padding: 20px;
      width: 40%;
      border: 0px;
      order: 2;

      &:nth-child(2) {
        flex-direction: column;
        order: 1;
      }
    }
  }

  .box-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    z-index: 1;
    .item {
      background-color: white;
      align-content: center;

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 10px;
      }

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .item-left {
      background-color: white;
      border-radius: 10px;
      padding-right: 10px;
      align-content: center;
    }

    .item-head {
      margin-top: 50px;
    }
  }

  .box-grid-even {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    z-index: 1;
    .item-even {
      background-color: white;
      align-content: center;

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .toggle {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    z-index: 5;
  }

  .box-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;

    .item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-bottom-left-radius: 10px;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }

  .box-grid-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    z-index: 1;
    .item-even {
      background-color: white;
      align-content: center;

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
      }
    }
  }

  .inside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left {
      margin-left: auto;
    }
  }

  .heading {
    font-size: 40px;
  }

  .img-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  .item-head {
    margin-top: 300px;
  }

  .main {
    margin-top: 100px;
    justify-content: flex-start;
    .main-item {
      padding: 20px;
      width: 50%;
      border: 0px;
      order: 2;

      &:nth-child(2) {
        flex-direction: column;
        order: 1;
      }
    }
  }
}

#myCheckbox1:checked ~ .nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6ac5fe; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .burger {
  display: none; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #6ac5fe; /* or block, grid, anything you want */
}

#myCheckbox1:checked ~ .main {
  background: black;
  font-family: "Times New Roman", Times, serif;
}
